.DS_Store
Thumbs.db
venv/
__pycache__/
*.py[cod]

simulation/AutonomousCar/Plugins
# UE5 folders
simulation/*/Binaries/
simulation/*/Intermediate/
simulation/*/Saved/
simulation/*/DerivedDataCache/
simulation/*/Build/

simulation/*/Config/DefaultEditorPerProjectUserSettings.ini
simulation/*/Config/User*.ini
simulation/*/Config/Local*.ini

# IDE files
.vscode/
.vs/
*.sln
*.suo
*.opensdf
*.sdf

# plugins
simulation/*/Plugins/*/Binaries/
simulation/*/Plugins/*/Intermediate/